@page "/ProductsList"
@using BlazorApp1.Data
@using BlazorApp1.Entities
@using Microsoft.EntityFrameworkCore
<h3>Список товаров</h3>

@inject AppDbContext DbContext

<table class="table">
    <thead><tr><th>Id</th><th>Name</th><th>Price</th></tr></thead>
    <tbody>
    @foreach (var prod in _products)
    {
        <tr>
            <td>@prod.Id</td><td>@prod.Name</td><td>@prod.Price</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        _products = await DbContext.Products.ToListAsync();
    }
}